*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image: url('imag/fondo-tecnologico-1920x1080.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.hero{
max-width: 1180px;
width: 100%;
margin: 0 auto;
padding: 80px 40px;
min-height:100vh;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
text-align: left;
position: relative;
z-index: 10;
}

.contenedor-sobre-mi{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.texto{
    width: 60%;
}

.formulario-contacto{

    max-width: 650px;

}

